Repository a11yproject/a11yproject.com, pull requests merged in 2019-04, with the labels that each got.

#765 Resources: Remove Chrome Accessibility Tools
  _data/resources.yml
Labels: [Content] Resource, [Type] Enhancement

#772 Update "Using captions with HTML5 video"
  _posts/2013-07-17-using-caption-services-with-html5-video.md
Labels: Article Audit, [Content] Article

#776 Update events.yml
  _data/events.yml
Labels: [Content] Event

#781 Event updates
  _data/events.yml
  _data/follow.yml
  _sass/_layout.scss
Labels: [Content] Event, [Content] Resource
