Repository a11yproject/a11yproject.com, pull requests merged in 2019-05, with the labels that each got.

#689 #683 Update focus styles
  _sass/_base.scss
  _sass/_footer.scss
  _sass/_layout.scss
  _sass/_reset.scss
  _sass/_typography.scss
  css/master.scss
Labels: [Status] Not ready for merge

#779 Update checklist
  _layouts/default.html
  _sass/_checklist.scss
  checklist.html
  css/master.scss
  js/scripts.js
Labels: [Content] Checklist, [Type] Enhancement

#787 Add redirect functionality
  _config.yml
  _posts/2013-04-21-people-who-use-screen-readers-dont-use-javascript.md
Labels: [Content] Article, [Type] Feature

#790 Add title attribute checklist item
  checklist.html
Labels: [Content] Checklist

#797 Describe use case for table differently
  checklist.html
Labels: [Content] Checklist, [Type] Enhancement

#662 Create Code of Conduct
  CODE_OF_CONDUCT.md
Labels: [Type] Feature

#802 Adding Utah Meetup to Events Page
  _data/events.yml
Labels: [Content] Event, [Status] Not ready for merge
