Repository a11yproject/a11yproject.com, pull requests merged in 2020-12, with the labels that each got.

#1171 Add Designing accessible animation post
  src/_data/authors.json
  src/posts/2020-12-22-design-accessible-animation.md
  src/posts/2020-12-22-designing-accessible-animation.md
Labels: Data, Post

#1172 Update post description
  src/posts/2020-12-22-design-accessible-animation.md
Labels: Post

#1174 Adds focus state indicator for toc__summary
  src/css/vendor/_v-toc.scss
Labels: Styling
