Repository a11yproject/a11yproject.com, pull requests merged in 2021-04, with the labels that each got.

#1228 Update Create accessible forms image
  src/img/posts/2020-09-19-how-to-write-accessible-forms/form-field-on-focus.png
  src/posts/2020-09-19-how-to-write-accessible-forms.md
Labels: Post

#1231 Remove extraneous word on contributing guidelines page
  src/contributing-guidelines.njk
Labels: Markup

#1233 Typos, extra words & minor punctuation corrections
  src/about.njk
  src/accessibility-statement.njk
  src/code-of-conduct.njk
Labels: Markup

#1232 Add links to each author's posts in author blurbs
  .eleventy.js
  src/_includes/person.njk
  src/css/components/content/_lists.scss
Labels: Eleventy, Markup, Styling

#1236 Use fully qualified name for eleventy in build scripts
  package.json
Labels: Node

#1237 Updating Resources for Accessible360 for consistency.
  src/_data/resources.json
Labels: Data, Resource

#1241 Showcase The Bootcamper's Guide to Web Accessibility
  src/_data/homepage.json
  src/img/resources/the-bootcampers-guide-to-web-accessibility.jpg
  src/resources/the-bootcampers-guide-to-web-accessibility.md
Labels: Data

#1240 Add Eriol to Spotlight
  src/_data/homepage.json
  src/_data/spotlight.json
  src/img/spotlight/eriol-fox.jpg
  src/spotlight/eriol-fox.md
Labels: Data

#1239 Fix featured post and resource focus styling
  src/_data/resources.json
  src/_includes/card/post.njk
  src/_includes/card/resource.njk
  src/_includes/featured.njk
  src/_includes/featured/post.njk
  src/_includes/featured/resource.njk
  src/_includes/highlight.njk
  src/archive.njk
  src/css/components/_c-banner.scss
  src/css/components/_c-card-post.scss
  src/css/components/_c-card-resource.scss
  src/css/components/_c-featured-resource.scss
  src/css/components/_c-featured.scss
  src/css/components/content/_lists.scss
  src/css/screen.scss
  src/css/utilities/_spacing.scss
  src/resources.njk
Labels: Data, Markup, Resource, Styling

#1242 Update Lies, Damned Lies, Overlays and Widgets URL
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Post

#1243 Block FLoC
  netlify.toml
Labels: Netlify

#1244 Update tooling and package versions
  .nvmrc
  package-lock.json
  package.json
  src/css/base/_resets.scss
Labels: Node, Styling

#1248 Strip tags from raw string before sending to slugify
  .eleventy.js
Labels: Eleventy

#1246 Simplify date conversions
  .eleventy.js
  package-lock.json
  package.json
  src/_includes/layouts/post.njk
Labels: Eleventy, Markup, Node

#1250 Add EJ to team 🎉
  package.json
  src/_data/team.json
  src/img/team/ej-mason.jpg
Labels: Data, Node

#1247 Improve main script performance
  src/js/main.js
Labels: JavaScript

#1251 Add Accessibility in the Age of Components
  src/_data/resources.json
Labels: Data, Resource

#1249 Update gulp script
  gulpfile.js
  package-lock.json
  package.json
Labels: Gulp, Node

#1259 Developer experience fixes
  gulpfile.js
Labels: Gulp, JavaScript, Node

#1255 Update Workbox implementation
  src/sw.js
  sw.js
Labels: JavaScript

#1257 Restore woff2 copy of Source Code Pro
  src/fonts/source-code-pro-v11-latin-regular.woff2
Labels: Styling

#1260 Some light script cleanup
  src/js/main.js
Labels: JavaScript
