Repository a11yproject/a11yproject.com, pull requests merged in 2021-05, with the labels that each got.

#1262 Load scripts only on pages that need them
  src/_includes/layouts/base.njk
  src/js/checklist.js
  src/js/main.js
Labels: JavaScript, Markup

#1269 Add more accessibility overlay further reading links
  src/announcements/2021-03-08-the-a11y-project-does-not-recommend-using-accessibility-overlay-products.md
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Post

#1272 Add initial conference resources
  src/_data/resources.json
  src/_includes/card/resource.njk
  src/resources.njk
Labels: Data, Markup, Resource

#1268 Restructure checklist data
  src/_data/checklists.json
  src/_includes/checklist__task.njk
  src/checklist.njk
  src/css/utilities/_text-transform.scss
Labels: Checklist, Data, Markup, Styling

#1273 Generate table of contents during build
  .eleventy.js
  package-lock.json
  package.json
  src/_includes/layouts/base.njk
  src/_includes/layouts/post.njk
  src/_includes/nav/toc.njk
  src/_includes/post.njk
  src/about.njk
  src/accessibility-statement.njk
  src/archive.njk
  src/authors.njk
  src/checklist.njk
  src/code-of-conduct.njk
  src/content-style-guide.njk
  src/contribute.njk
  src/contributing-guidelines.njk
  src/follow.njk
  src/js/lib/details-element-polyfill.polyfill.js
  src/js/lib/table-of-contents.js
  src/js/table-of-contents/table-of-contents.js
  src/privacy-and-security.njk
  src/resources.njk
  src/sponsorship.njk
  src/spotlight.njk
  src/team.njk
  src/values.njk
  src/write-for-us.njk
Labels: Checklist, Eleventy, JavaScript, Markup, Node

#1275 Ensure checklist headings have unique IDs
  src/checklist.njk
Labels: Accessibility, Checklist, Markup

#1276 Update resources
  src/_data/resources.json
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Data, Post, Resource

#1279 Adds a11ysd
  src/_data/resources.json
Labels: Data, Resource

#1283 Add the A11Y Collective as a sponsor
  src/_data/sponsors.json
  src/img/sponsors/a11y-collective.svg
Labels: Data
