Repository a11yproject/a11yproject.com, pull requests merged in 2021-01, with the labels that each got.

#1176 Typographical error fixes.
  src/resources.njk
Labels: Markup

#1179 Replace redundant “Ideal” in the Checklist
  src/checklist.njk
Labels: Checklist, Markup

#1180 Add Fable Tech Labs as a sponsor
  src/_data/sponsors.json
  src/img/sponsors/fable.png
Labels: Data

#1181 Add Fable UTM link
  src/_data/sponsors.json
Labels: Data

#1182 Add How to: Use the tabindex attribute
  src/_includes/layouts/post.njk
  src/css/components/content/_lists.scss
  src/img/posts/2021-01-28-how-to-use-the-tabindex-attribute/interactive-chart.png
  src/img/posts/2021-01-28-how-to-use-the-tabindex-attribute/listbox.png
  src/img/posts/2021-01-28-how-to-use-the-tabindex-attribute/manual-tab-order.png
  src/img/posts/2021-01-28-how-to-use-the-tabindex-attribute/nested-tab-stop.png
  src/img/posts/2021-01-28-how-to-use-the-tabindex-attribute/non-interactive-interactive.png
  src/img/posts/2021-01-28-how-to-use-the-tabindex-attribute/positive-value.png
  src/img/posts/2021-01-28-how-to-use-the-tabindex-attribute/scrollable-overflow-container.png
  src/posts/2021-01-28-how-to-use-the-tabindex-attribute.md
Labels: Markup, Post, Styling

#1184 Address tabindex article feedabck
  src/posts/2021-01-28-how-to-use-the-tabindex-attribute.md
Labels: Post
