Repository a11yproject/a11yproject.com, pull requests merged in 2021-08, with the labels that each got.

#1320 Feature Nic Steenhout in the Spotlight
  src/_data/homepage.json
  src/_data/spotlight.json
  src/css/layout/_l-toc.scss
  src/img/spotlight/nic-steenhout.jpg
  src/spotlight/nic-steenhout.md
Labels: Data, Styling

#1323 Fix typo on contribute page
  src/contribute.njk
Labels: Markup

#1325 Add video and poster downloads to Everyday Accessibility
  src/_data/resources.json
  src/posts/2021-06-14-Everyday_Accessibility.md
Labels: Post, Resource, Data

#1326 Fix embedded video display
  src/css/components/content/_embedded.scss
  src/posts/2021-06-14-Everyday_Accessibility.md
Labels: Post, Styling

#1329 Fix grammatical error on the editing section of the write-for-us page
  src/write-for-us.njk
Labels: Markup

#1332 Reviewing a design for a11y post
  src/_data/authors.json
  src/posts/2021-08-14-reviewing-a-design-for-accessibility.md
Labels: Post, Data

#1336 Add 'Starting a design with accessibility' post
  src/img/posts/2021-08-25-starting-a-design-with-accessibility/text-only_design.png
  src/posts/2021-08-25-starting-a-design-with-accessibility.md
Labels: Post

#1343 Add resources, reorganize professional services
  src/_data/resources.json
Labels: Resource, Data
