Repository a11yproject/a11yproject.com, pull requests merged in 2021-07, with the labels that each got.

#1306 Restore code syntax highlighting
  gulpfile.js
Labels: Gulp

#1307 Update pinned package versions
  package-lock.json
  package.json
Labels: Node

#1308 Restore syntax highlighting (but really)
  gulpfile.js
  src/css/vendor/_v-prism-a11y-dark.scss
Labels: Gulp, Styling

#1300 Proposed adding CivicActions to the list.
  src/_data/resources.json
Labels: Data, Resource

#1310 Alphabetize resource, add more overlay posts
  src/_data/resources.json
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Data, Post, Resource

#1292 "Everyday Accessibility" post
  src/img/posts/2021-06-14-everyday_accessibility/Accessible_Typeforms.png
  src/img/posts/2021-06-14-everyday_accessibility/PPT_A11yChecker.png
  src/img/posts/2021-06-14-everyday_accessibility/PPT_Titles.png
  src/img/posts/2021-06-14-everyday_accessibility/Windows-AltText.png
  src/img/posts/2021-06-14-everyday_accessibility/WordRibbon.png
  src/img/posts/2021-06-14-everyday_accessibility/Zoom_A11y_Page.png
  src/img/posts/2021-06-14-everyday_accessibility/instagram_quote.jpg
  src/img/posts/2021-06-14-everyday_accessibility/twitter_alt.png
  src/posts/2021-06-14-Everyday_Accessibility.md
Labels: Post

#1311 Add Be Inclusive as a sponsor
  src/_data/sponsors.json
  src/img/sponsors/be-inclusive.svg
Labels: Data

#1303 Adding new post on accessibility and seo
  src/_data/authors.json
  src/posts/2021-07-02-accessibility-seo.md
Labels: Data, Post

#1315 Add Alicia Jarvis' Inclusive Design Blog
  src/_data/resources.json
Labels: Data, Resource

#1316 Update blog, email, and professionalhelp
  src/_data/resources.json
Labels: Data, Resource

#1318 Merge branch 'main' into add-more-post-links
  src/_data/resources.json
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Data, Post, Resource
