Repository a11yproject/a11yproject.com, pull requests merged in 2021-02, with the labels that each got.

#1185 Update package versions
  package-lock.json
  package.json
Labels: Node

#1186 Add Anna E. Cook to the Spotlight
  package.json
  src/_data/homepage.json
  src/_data/spotlight.json
  src/img/spotlight/anna-e-cook.jpg
  src/spotlight/anna-e-cook.md
Labels: Data, Node

#1187 Adding VoiceOver Testing resource
  src/_data/resources.json
  src/posts/2013-01-14-getting-started-with-voiceover.md
Labels: Data, Post, Resource

#1189 Add Pika to resources.json
  src/_data/resources.json
Labels: Data, Resource

#1190 Update social sharing image logic
  gulpfile.js
  package.json
  src/_includes/meta/social-media.njk
  src/img/social/og-image-about.png
  src/img/social/og-image-accessibility-statement.png
  src/img/social/og-image-announcements.png
  src/img/social/og-image-authors.png
  src/img/social/og-image-checklist.png
  src/img/social/og-image-code-of-conduct.png
  src/img/social/og-image-contact.png
  src/img/social/og-image-content-style-guide.png
  src/img/social/og-image-contribute.png
  src/img/social/og-image-contributing-guidelines.png
  src/img/social/og-image-home.png
  src/img/social/og-image-newsletter.png
  src/img/social/og-image-posts.png
  src/img/social/og-image-privacy-and-security.png
  src/img/social/og-image-resources.png
  src/img/social/og-image-sponsorship.png
  src/img/social/og-image-spotlight.png
  src/img/social/og-image-team.png
  src/img/social/og-image-values.png
  src/img/social/og-image-write-for-us.png
Labels: Gulp, Markup, Node

#1191 Restore Yakim van Zuijlen’s article on VoiceOver
  package-lock.json
  src/_data/resources.json
Labels: Data, Resource

#1188 Cerchie's post on text resizing in ios and android
  src/_data/authors.json
  src/posts/2020-02-05-text-resizing-in-ios-and-android.md
Labels: Data, Post

#1192 Fix build error on deploy from missing return within text-fence
  src/posts/2020-02-05-text-resizing-in-ios-and-android.md
Labels: Post

#1193 Update post category
  src/posts/2020-02-05-text-resizing-in-ios-and-android.md
Labels: Post

#1194 Overview of dyslexia fonts
  src/posts/2020-10-28-dyslexia-fonts.md
Labels: In Review, Post

#1196 Minor tweaks to Background: Dyslexia fonts
  src/posts/2020-10-28-dyslexia-fonts.md
Labels: Post

#1197 Update The Paciello Group’s name to TPGi
  src/_data/resources.json
  src/posts/2013-01-11-how-to-hide-content.md
  src/posts/2015-01-05-what-is-color-contrast.md
  src/posts/2016-01-07-placeholder-input-elements.md
  src/posts/2019-02-15-creating-valid-and-accessible-links.md
  src/posts/2020-05-13-aria-has-perfect-support.md
  src/posts/2020-09-19-how-to-write-accessible-forms.md
  src/posts/2021-01-28-how-to-use-the-tabindex-attribute.md
Labels: Data, Post, Resource
