Repository a11yproject/a11yproject.com, pull requests merged in 2021-12, with the labels that each got.

#1383 Added correct URL for the 'a RSS feed' hyperlink on the follow page
  src/follow.njk
Labels: markup

#1386 Remove Alex Brenon’s website
  src/_data/authors.json
  src/_data/team.json
Labels: data

#1387 Fix blog post image links
  src/img/posts/everyday-accessibility/Accessible_Typeforms.png
  src/img/posts/everyday-accessibility/PPT_A11yChecker.png
  src/img/posts/everyday-accessibility/PPT_Titles.png
  src/img/posts/everyday-accessibility/Windows-AltText.png
  src/img/posts/everyday-accessibility/WordRibbon.png
  src/img/posts/everyday-accessibility/Zoom_A11y_Page.png
  src/img/posts/everyday-accessibility/instagram_quote.jpg
  src/img/posts/everyday-accessibility/twitter_alt.png
  src/posts/alternate-text-and-automation.md
Labels: post

#1358 Add a reference to the Chicago Manual of Style
  src/content-style-guide.njk
Labels: markup, content

#1389 Fix Introduction to web accessibility link
  src/_data/resources.json
  src/img/resources/introduction-to-web-accessibility.jpg
  src/resources/introduction-to-web-accessibility.md
Labels: resource, data

#1390 Upgrade `sass` to `1.45.0`
  .stylelintrc
  package-lock.json
  package.json
  src/css/components/_c-checklist.scss
  src/css/components/_c-contribute.scss
  src/css/components/_c-person.scss
  src/css/components/content/_inline-content.scss
  src/css/imports/_mappy-breakpoints.scss
  src/css/layout/_l-toc.scss
  src/css/logic/_functions.em.scss
  src/css/logic/_functions.modular-scale.scss
  src/css/logic/_functions.rem.scss
  src/css/logic/_functions.strip-unit.scss
  src/css/screen.scss
Labels: styling, node, dependencies

#1392 add gaming resources to a11y project
  src/_data/resources.json
Labels: resource, data

#1394 Display gaming resources
  src/_data/resources.json
  src/resources.njk
Labels: resource, markup, data
