Repository a11yproject/a11yproject.com, pull requests merged in 2021-06, with the labels that each got.

#1285 Fix Table of Content positioning
  src/_includes/layouts/base.njk
  src/_includes/layouts/post.njk
  src/css/layout/_l-toc.scss
Labels: Markup, Styling

#1288 Add article about Fix Contrast
  src/_data/authors.json
  src/_data/resources.json
  src/img/posts/2021-06-07-fixing-contrast-issues-on-your-own-site-and-elsewhere/copy-color.mp4
  src/img/posts/2021-06-07-fixing-contrast-issues-on-your-own-site-and-elsewhere/ui.png
  src/posts/2021-06-07-fixing-contrast-issues-on-your-own-site-and-elsewhere.md
Labels: Data, Post, Resource

#1289 Fixing contrast issues article tweaks
  src/img/posts/2021-06-07-fixing-contrast-issues-on-your-own-site-and-elsewhere/copy-color.webm
  src/img/posts/2021-06-07-fixing-contrast-issues-on-your-own-site-and-elsewhere/cover.png
  src/posts/2021-06-07-fixing-contrast-issues-on-your-own-site-and-elsewhere.md
Labels: Post

#1290 Changed wording for session timeouts
  src/_data/checklists.json
Labels: Data

#1281 Clarify our content evaluation policy
  src/contributing-guidelines.njk
Labels: Markup

#1293 Adding myself to authors file
  src/_data/authors.json
Labels: Data

#1296 Use dart-sass to compile scss
  gulpfile.js
  src/css/components/content/_inline-content.scss
Labels: Gulp, Styling

#1297 Add more overlay sources and resources
  src/_data/resources.json
  src/css/layout/_l-toc.scss
  src/css/vendor/_v-toc.scss
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Data, Post, Resource, Styling

#1299 Add more resources
  src/_data/resources.json
Labels: Data, Resource

#1298 Chore: align to Node 16
  .nvmrc
  README.md
  gulpfile.js
  package-lock.json
  package.json
Labels: Gulp, Node

#1301 Use directory data files to deduplicate post front matter
  src/announcements/2020-07-15-2020-redesign.md
  src/announcements/2020-08-19-lets-support-inert.md
  src/announcements/2021-03-08-the-a11y-project-does-not-recommend-using-accessibility-overlay-products.md
  src/announcements/2021-04-04-ten-dollars-for-ten-k.md
  src/announcements/announcements.11tydata.js
  src/posts/2013-01-11-how-to-hide-content.md
  src/posts/2013-01-11-myth-accessibility-is-blind-people.md
  src/posts/2013-01-11-navigate-using-just-your-keyboard.md
  src/posts/2013-01-14-alt-text.md
  src/posts/2013-01-14-aria-landmark-roles.md
  src/posts/2013-01-14-getting-started-with-voiceover.md
  src/posts/2013-01-14-never-use-maximum-scale.md
  src/posts/2013-01-15-never-use-auto-play.md
  src/posts/2013-01-16-future-proof-your-accessibility.md
  src/posts/2013-01-22-check-contrast-with-mobile-device.md
  src/posts/2013-01-22-understanding-visual-impairment.md
  src/posts/2013-01-25-check-comprehension-level.md
  src/posts/2013-01-25-never-remove-css-outlines.md
  src/posts/2013-02-09-how-to-use-application-role.md
  src/posts/2013-04-21-people-who-use-screen-readers-dont-use-javascript.md
  src/posts/2013-04-22-title-attributes.md
  src/posts/2013-05-11-skip-nav-links.md
  src/posts/2013-05-15-understanding-vestibular-disorders.md
  src/posts/2013-07-17-using-caption-services-with-html5-video.md
  src/posts/2014-05-15-getting-started-aria.md
  src/posts/2015-01-05-what-is-color-contrast.md
  src/posts/2015-05-29-getting-started-with-nvda.md
  src/posts/2016-01-07-placeholder-input-elements.md
  src/posts/2016-03-05-accessible-data-tables.md
  src/posts/2017-08-26-a11y-and-other-numeronyms.md
  src/posts/2017-10-18-understanding-colourblindness.md
  src/posts/2017-12-29-macos-browser-keyboard-navigation.md
  src/posts/2018-07-30-ARIA-properties.md
  src/posts/2018-07-30-ARIA-states.md
  src/posts/2018-11-21-large-touch-targets.md
  src/posts/2018-11-26-resize-text.md
  src/posts/2019-02-15-creating-valid-and-accessible-links.md
  src/posts/2020-01-23-operating-system-and-browser-accessibility-display-modes.md
  src/posts/2020-05-13-aria-has-perfect-support.md
  src/posts/2020-07-24-learning-common-keyboard-shortcuts-for-screen-readers.md
  src/posts/2020-08-20-an-indepth-guide-to-aria-roles.md
  src/posts/2020-09-19-how-to-write-accessible-forms.md
  src/posts/2020-10-02-introduction-to-WAI.md
  src/posts/2020-10-14-wcag2-documents.md
  src/posts/2020-10-15-no-mouse-days.md
  src/posts/2020-10-28-dyslexia-fonts.md
  src/posts/2020-11-23-getting-started-with-voiceover-ios.md
  src/posts/2020-12-22-design-accessible-animation.md
  src/posts/2021-01-28-how-to-use-the-tabindex-attribute.md
  src/posts/2021-02-05-text-resizing-in-ios-and-android.md
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
  src/posts/2021-03-23-alternate-text-and-automation.md
  src/posts/2021-06-07-fixing-contrast-issues-on-your-own-site-and-elsewhere.md
  src/posts/posts.11tydata.js
Labels: Eleventy, JavaScript, Post
