Repository a11yproject/a11yproject.com, pull requests merged in 2021-03, with the labels that each got.

#1201 Add The A11Y Project does not recommend using accessibility overlay products
  src/_includes/linkroll.njk
  src/announcements/2021-03-08-the-a11y-project-does-not-recommend-using-accessibility-overlay-products.md
  src/newsletter.njk
  src/posts/2015-05-29-getting-started-with-nvda.md
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Markup, Post

#1202 Add The A11Y Project team as an author
  src/_data/authors.json
  src/announcements/2020-07-15-2020-redesign.md
  src/announcements/2020-08-19-lets-support-inert.md
  src/announcements/2021-03-08-the-a11y-project-does-not-recommend-using-accessibility-overlay-products.md
  src/img/authors/the-a11y-project-team.png
Labels: Data

#1203 Copy tweak
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Post

#1204 Update further reading links
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Post

#1207 Fix typo in “Should I use an accessibility overlay?” post
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Post

#1212 Update resources
  src/_data/resources.json
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Data, Post, Resource

#1213 Update featured resource focus style
  src/css/components/_c-card.scss
Labels: Styling

#1211 Fix Accessify additional text
  src/_data/resources.json
Labels: Data, Resource

#1216 Fix footnote rendering
  .eleventy.js
  package-lock.json
  package.json
  src/css/components/content/_cms.scss
  src/img/posts/section-footnotes.svg
  src/posts/2013-02-09-how-to-use-application-role.md
Labels: Eleventy, Node, Post, Styling

#1195 Wcag2 documents
  src/posts/2020-10-14-wcag2-documents.md
Labels: Post

#1217 Update Eleventy to v0.12.1
  netlify.toml
  package.json
  src/_includes/changelog.njk
  src/posts/2020-12-22-designing-accessible-animation.md
  src/posts/2021-02-05-text-resizing-in-ios-and-android.md
Labels: Markup, Netlify, Node, Post

#1219 Add more overlay further reading links
  src/posts/2021-03-08-should-i-use-an-accessibility-overlay.md
Labels: Post

#1215 Update Resources (browsers extensions and newsletters)
  src/_data/resources.json
Labels: Data, Resource

#1221 Add Myth: Alternate text can be automated
  src/css/components/content/_inline-content.scss
  src/img/posts/2021-03-23-myth-alternate-text-can-be-automated/accessibe.png
  src/img/posts/2021-03-23-myth-alternate-text-can-be-automated/doge.png
  src/img/posts/2021-03-23-myth-alternate-text-can-be-automated/vacation-photo.jpg
  src/img/posts/2021-03-23-myth-alternate-text-can-be-automated/wordpress-alt-field.png
  src/posts/2021-03-23-myth-alternate-text-can-be-automated.md
Labels: Post, Styling

#1222 Copy tweaks
  src/posts/2021-03-23-myth-alternate-text-can-be-automated.md
Labels: Post

#1223 Copy tweaks
  src/posts/2021-03-23-myth-alternate-text-can-be-automated.md
Labels: Post

#1224 Rename Myth: Alternate text can be automated
  netlify.toml
  src/posts/2021-03-23-alternate-text-and-automation.md
Labels: Netlify, Post

#1225 Adds word-break normal in checklist code for screens below wrist-large
  src/css/components/_c-checklist.scss
Labels: Styling

#1226 Add image link clarification
  src/posts/2021-03-23-alternate-text-and-automation.md
Labels: Post

#1227 Add more book resources
  src/_data/resources.json
Labels: Data, Resource
