Repository a11yproject/a11yproject.com, pull requests merged in 2021-11, with the labels that each got.

#1376 Fix typo: remove one word from Values page
  src/values.njk
Labels: markup

#1375 Adds 2 resources
  src/_data/resources.json
Labels: resource, data

#1379 Add article on a11yBID to resources
  src/_data/resources.json
Labels: resource, data

#1378 Fix colour contrast issue on recommended reading links
  src/css/components/content/_links.scss
Labels: styling

#1381 Fix minor typos in checklists.json
  src/_data/checklists.json
Labels: data
