Repository a11yproject/a11yproject.com, pull requests merged in 2022-02, with the labels that each got.

#1409 Refactor form validation script
  src/js/contact.js
Labels: javascript

#1410 Standardize post title casing
  src/posts/aria-has-perfect-support.md
  src/posts/macos-browser-keyboard-navigation.md
Labels: post

#1235 Initial draft of post collections feature
  .eleventy.js
  src/_data/heroes.json
  src/_includes/header.njk
  src/_includes/layouts/collection.njk
  src/_includes/layouts/post.njk
  src/about.njk
  src/checklist.njk
  src/collections.njk
  src/collections/collections.11tydata.js
  src/collections/introduction-to-aria.md
  src/css/components/_c-collection.scss
  src/css/components/_c-hero.scss
  src/css/components/_c-post-collection.scss
  src/css/components/content/_spacing.scss
  src/css/layout/_l-content.scss
  src/css/layout/_l-hero.scss
  src/css/layout/_l-main.scss
  src/css/layout/_l-post.scss
  src/css/screen.scss
  src/css/vendor/_v-toc.scss
  src/img/heroes/collections.svg
  src/posts/an-indepth-guide-to-aria-roles.md
  src/posts/aria-properties.md
  src/posts/aria-states.md
  src/resources.njk
Labels: post, checklist, eleventy, styling, javascript, markup, data

#1411 Move Carie Fisher to alumni
  src/_data/team.json
Labels: data

#1415 Updates copyright years
  src/_includes/nav/copyright-back-to-top.njk
Labels: markup

#1417 Fix #1416
  src/css/base/_html.scss
Labels: styling
