Repository a11yproject/a11yproject.com, pull requests merged in 2022-01, with the labels that each got.

#1391 How-to: Article how to accessible heading structure
  src/_data/authors.json
  src/img/posts/how-to-accessible-heading-structure/headings-map.png
  src/img/posts/how-to-accessible-heading-structure/wave.png
  src/img/posts/how-to-accessible-heading-structure/wordpress.png
  src/posts/how-to-accessible-heading-structure.md
Labels: post, data

#1396 Update headings post formatting
  src/index.njk
  src/posts/how-to-accessible-heading-structure.md
Labels: post, markup

#1399 Remove Tenon from professional help
  src/_data/resources.json
  src/posts/how-to-accessible-heading-structure.md
Labels: post, resource, data

#1400 Upgrade to eleventy v1.0.0 🎉
  .eleventy.js
  package-lock.json
  package.json
  src/_includes/checklist__task.njk
  src/announcements/lets-support-inert.md
Labels: eleventy, markup, node

#1402 Fix features resource links
  .eleventy.js
  src/_includes/homepage/featured-resource.njk
Labels: eleventy, markup

#1406 Restore recent post list on homepage
  .eleventy.js
Labels: eleventy
