Repository a11yproject/a11yproject.com, pull requests merged in 2022-03, with the labels that each got.

#1420 Add Fable’s Assistive Technology Glossary
  src/_data/resources.json
Labels: resource, data

#1422 Add Accessible Social
  src/_data/resources.json
Labels: resource, data

#1424 Add Video section for resources, add video resource
  src/_data/resources.json
  src/resources.njk
Labels: resource, markup, data

#1423 Implement base JS and markup for a theme toggle
  src/_includes/layouts/base.njk
  src/js/apply-theme-setting.js
  src/js/theme-toggle.js
  src/theme-toggle-playground.njk
Labels: javascript, markup

#1427 Add Polypane as a developer tool
  src/_data/resources.json
Labels: resource, data

#1428 fix: gaming heading id
  src/resources.njk
Labels: markup

#1429 Add resources
  src/_data/resources.json
Labels: resource, data

#1430 Update Vanilla JS link
  src/_data/sponsors.json
Labels: data

#1432 Fix article redirect error
  netlify.toml
Labels: netlify
